<form *ngIf="auctionProducts" [formGroup]="auctionForm" (ngSubmit)='onSubmit()'>
    <div formArrayName="bids" *ngFor="let ap of auctionForm.get('bids').controls; let i = index" >
      <div [formGroupName]="i">
        <div>
            <label for="ProductName">Product:</label>
            <input type="text" name="ProductName" formControlName="ProductName" readonly >
        </div>
        <div>
            <label for="InitialPrice">Initial Price:</label>
            <input type="text" name="InitialPrice" formControlName="InitialPrice" readonly >
        </div>
        <div>
            <label for="BidPrice">Your Bid:</label>
            <input type="text" name="BidPrice" formControlName ="BidPrice" placeholder="your bid">
        </div>
          
      </div>
    </div>
  <div>
      <button type="submit" class="btn btn-primary" [disabled]="clicked">Submit</button>
  </div>
</form>
<div>{{result}}</div>

<router-outlet></router-outlet>
